body {
  background-image: url("image/podium.jpg");
}

/* Titres */
.question,
.felicitations {
  font-family: "Fiolex Girls", sans-serif;
  color: aliceblue;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}

.felicitations {
  display: none;
}

/* Image */
.nounours {
  margin: 10px 0 0 400px;
}

/* Boutons */
.btn-oui,
.btn-non {
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.btn-oui {
  background-color: rgb(237, 5, 140);
  color: white;
  margin: 30px;
  margin-left: 500px;
}

.btn-non {
  background-color: rgb(237, 5, 5);
  color: antiquewhite;
}

/* Mobile */
@media screen and (max-width: 600px) {
  .question,
  .felicitations,
  .nounours {
    margin: auto;
    width: 100%;
  }

  .btn-oui {
    margin: 40px auto auto 100px;
  }
}
