 .nunh{
    background-color: rgb(237, 5, 5);
    color: antiquewhite;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: none;
    padding: 5px;

}

body{
    background-image: url(./image/PODUIM.jpg);

  
}

.yuh{
    background-color: rgb(237, 5, 140);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin: 30px;
    margin-left: 500px;
    border-radius: 10px;
    border: none;
    padding: 5px;

} 

.nounours {
   margin-left: 400px;
   margin-top: 10px;


}

h1{
    font-family: 'Fiolex Girls', sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;

}

.en-tete{
    display: none;
    font-family: 'Fiolex Girls', sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

@import url('https://fonts.cdnfonts.com/css/fiolex-girls');

@media screen and (max-width: 600px) {
    .yuh {
        margin:auto;
        margin-top: 40px;
        margin-left: 100px;
        
      
    }

    h1{
        margin: auto;
        width: 100%;    }

        h2{
            margin: auto;
            width: 100%;
        }

    .nounours{
        margin: auto;
        width: 100%;
    }
  }
    
